<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class='grid-x grid-margin-x'>
  <div class='large-2 cell' >

    <div class='grid-x'>
      <div class='large-12 cell'>
        <%= f.label :name%>
      </div>
    </div>

    <div class='grid-x'>
      <div class='large-12 cell'>
        <%= f.text_field :name, id: :category_name %>
      </div>
    </div>

  </div>

  <div class='large-2 cell' >

    <div class='grid-x'>
      <div class='large-12 cell'>
        <%= f.label :color%>
      </div>
    </div>

    <div class='grid-x'>
      <div class='large-12 cell'>
        <%= f.text_field :color, id: :category_color, class: 'colorpicker', type: 'color' %>
      </div>
    </div>

  </div>

  <div class='large-2 cell' >

    <div class='grid-x'>
      <div class='large-12 cell'>
        &nbsp;
      </div>
    </div>

    <div class='grid-x'>
      <div class='large-12 cell'>
        <%= f.submit%>
      </div>
    </div>

  </div>

</div>



<% end %>
