<p id="notice"><%= notice %></p>

<div class='grid-x'>
  <div class='large-12'>
      categorieën
  </div>
</div>

<% @categories.each do |category| %>

  <%=render category, category: category%>
<%end%>



  <div class='grid-x bottom-actions'>

      <div class='large-4 small-12 text-center cell'>
        <%= link_to t('add', str: t('category', count: 1, scope: [:activerecord, :models]) ), new_category_path %>
      </div>    
      <div class='large-4 small-12 text-center cell'>
        <%= link_to t('announcement_center',count: 1, scope: [:activerecord, :models]), root_path %>
      </div>        
      <div class='large-4 small-12 cell text-center'>
        <%= link_to t('back', str: t('category', count: 2, scope: [:activerecord, :models]) ), categories_path %>
      </div>      

  </div>