<%= form_for(@addressee) do |f| %>
  <% if @addressee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@addressee.errors.count, "error") %> prohibited this addressee from being saved:</h2>

      <ul>
      <% @addressee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :announcement_id %><br>
    <%= f.number_field :announcement_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
