<p id="notice"><%= notice %></p>

<h1>Listing addressees</h1>

<table>
  <thead>
    <tr>
      <th>Announcement</th>
      <th>addressee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addressees.each do |addressee| %>
      <tr>
        <td><%= addressee.announcement_id %></td>
        <td><%= addressee.user_id %></td>
        <td><%= link_to 'Show', addressee %></td>
        <td><%= link_to 'Edit', edit_addressee_path(addressee) %></td>
        <td><%= link_to 'Destroy', addressee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New addressee', new_addressee_path %>
