
<div class = 'row'>
	<div class = 'large-12 columns' id="notice" > <%= notice %></div>

</div>

<div class = 'row'>
	<div class = 'large-6 columns'> <label>je huidige rol:</label></div>
	<div class = 'large-4 columns end'> <%#=current_user.role.role_source.naam%></div>
</div>

<div class = 'row'>
	<div class = 'large-6 columns'> <label>naam huidige administratie:</label></div>
	<div class = 'large-4 columns end'> <%#=current_user.role.role_source.naam%></div>
</div>

<div class = 'row'>
	<div class = 'large-6 columns'> <label>administraties waarnaar je berichten kunst sturen:</label></div>
	<div class = 'large-4 columns end'> <%#=current_user.role.role_source.naam%></div>
</div>

<div class = 'row'>
	<div class = 'large-6 columns'> <label>beschikbare categorien:</label></div>
	<div class = 'large-4 columns end'> 

	<%AnnouncementPlan::Category.all.each do |cat|%> 
		<div class = 'row'>
			<div class = 'large-4 columns'> <%=cat.name%></div>
			<div class = 'large-2 columns end' style='background-color: <%=cat.color%>'> &nbsp;</div>
		</div>
	<%end%>
	<div class = 'row'>
		<div class = 'large-6 columns'> <%=link_to 'add category', new_category_path%></div>
		
	</div>

	<div class = 'row'>
		<div class = 'large-6 columns'> <%=link_to 'start announcing!', new_announcement_path%></div>
		
	</div>

</div>



</div> 