<p id="notice"><%= notice %></p>

<h1>Listing Role Sources</h1>

<table>
  <thead>
    <tr>
      <th>Naam</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @role_sources.each do |role_source| %>
      <tr>
        <td><%= role_source.naam %></td>
        <td><%= link_to 'Show', role_source %></td>
        <td><%= link_to 'Edit', edit_role_source_path(role_source) %></td>
        <td><%= link_to 'Destroy', role_source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role source', new_role_source_path %>
