
<div class="postit" id = "postit_<%=announcement.id%>"  style="background-color:<%=announcement.category.color%>;">
dit is een announcement-partial


<a class="close">&#215;</a>

<%=form_for :recipient, url:  "/announcement_plan/recipients" , remote: true do |f| %>
<%=announcement.tekst%>
<%=f.hidden_field :user_id, value: current_user.id%>
<%=f.hidden_field :announcement_id, value: announcement.id%>
<%=f.submit%>
<%end%>
</div>

