<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @announcement.title %>
</p>


<div class='row'>
<div class='postit'><%= @announcement.txt %></div>
</div>



<div class = 'row'>
  <div class = 'large-12 columns' id="notice" > <%= notice %></div>

</div>

<div class = 'row'>
  <div class = 'large-6 columns'> <label>Start announcing at:</label></div>
  <div class = 'large-4 columns end'>   <%= @announcement.start_announcing_at %></div>
</div>

<div class = 'row'>
  <div class = 'large-6 columns'> <label>Stop announcing at</label></div>
  <div class = 'large-4 columns end'>  <%= @announcement.stop_announcing_at %></div>
</div>

<div class = 'row'>
  <div class = 'large-6 columns'> <label>Category:</label></div>
  <div class = 'large-4 columns end'> <%= @announcement.category.name %></div>
</div>

<div class = 'row'>
  <div class = 'large-6 columns'> <%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %></div>

</div>

