<p id="notice"><%= notice %></p>

<p>
  <strong>Announcement:</strong>
  <%= @reader.announcement_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @reader.user_id %>
</p>

<%= link_to 'Edit', edit_reader_path(@reader) %> |
<%= link_to 'Back', readers_path %>
